<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="https://unpkg.com/vue@3"></script>

    <link rel="stylesheet" href="/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/pico.colors.min.css"/>
    <link rel="stylesheet" href="/css/theme.css"/>

    <!-- Add favicon -->
    <link rel="icon" href="/img/favicon.png" type="image/x-icon"/>

    <title>Home</title>
</head>

<body>
<div id="app">
    <main class="container">
        <nav>
            <ul>
                <li><strong>WebCraftShare</strong></li>
            </ul>
            <ul>
                <li>
                <li>Welcome, <b>{{userName}}</b></li>
                </li>
                <li>
                    <button :aria-busy="isSubmitting ? 'true' : 'false'" @click="logout">Log Out</button>
                </li>
            </ul>
        </nav>

        <main class="container">
            <article>
                <h1>Upload website</h1>
                <p>Upload your website here. You must upload <u>a folder with an index.html</u> file.</p>
                <hr>

                <form @submit.prevent="uploadFolder">
                    <input type="file" ref="folderInput" webkitdirectory @change="checkFiles">
                    <small v-if="!filesValid" class="pico-color-red-500">Make sure it is a folder that has index.html inside.</small>
                    <input type="text" v-model="slug" placeholder="Enter slug" :aria-invalid="slugAriaInvalid" maxlength="20">
                    <small v-if="slugAriaInvalid" class="pico-color-red-500"> {{slugMessage}} </small>
                    <button type="submit" :aria-busy="isUploading ? 'true' : 'false'"
                            :disabled="!(filesValid && slugValid)" style="width: 100%">Upload</button>
                </form>
            </article>
        </main>
    </main>
</div>

<script src="/js/home.js"></script>
</body>
</html>
