<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="https://unpkg.com/vue@3"></script>

    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/pico.colors.min.css" />
    <link rel="stylesheet" href="/css/theme.css" />

    <link rel="icon" href="/img/favicon.png" type="image/x-icon" />

    <style>
        body {
            background-image: url('/img/background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .centered-login {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>

    <title>Sign in</title>
</head>

<body>
    <div id="app" class="centered-login">
        <main class="container">
            <article>
                <h1>Sign in</h1>
                <form @submit.prevent="handleSubmit">
                    <fieldset>
                        <input v-model="username" @blur="checkUsernameValidity" name="login" placeholder="User Id"
                            aria-label="Login" autocomplete="nickname" :required="true"
                            :aria-invalid="usernameValid !== null ? !usernameValid : undefined" />
                        <small v-if="usernameValid === false">
                            User does not exist.
                        </small>
                        <input v-model="password" type="password" name="password" placeholder="Password"
                            aria-label="Password" autocomplete="current-password" :required="true"
                            :aria-invalid="passwordError ? 'true' : undefined" />
                        <small v-if="passwordError"> {{passwordErrorMsg}} </small>
                        <button type="submit" :disabled="isFormInvalid" :aria-busy="isSubmitting ? 'true' : 'false'"
                        style="width: 100%">Sign in</button>
                    </fieldset>
                    <p>Don't have an account or lost the password? Email <a href="mailto:example@example.com">editme@login.html</a>.
                    </p>
                </form>
            </article>
        </main>
    </div>

    <script src="/js/login.js"></script>
</body>

</html>
